:root {
    --bg-dark: rgb(44, 31, 31);
    --bg-dark-alt: rgb(69, 46, 46);
    --bg-dark-alt-2: rgb(56, 38, 38);
    --fg-dark: rgb(223, 223, 223);
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Consolas', 'Roboto Mono', 'Ubuntu Mono', 'Inconsolata', 'Fira Code', 'Fira Mono', monospace;
}
body {
    background-color: var(--bg-dark);
    color: var(--fg-dark);
    font-family: var(--font-sans);
}
.mono {
    font-family: var(--font-mono);
}
